h1 About 
p I have been promoting successful Madonnathon Parties for over 10 years in NYC. I was featured this past July in NEXT magazine.

Two Years ago I decided to try my hand at DJing and have enjoyed performing at Bar13, Studio21, and Rockbar, for official Madonna album, single and dvd release parties!

I'm excited to share that I have just recently become a resident DJ at NYC's ROCKBAR, located at 185 Christopher st.

Throwing monthly 80's Dance parties has been such an exciting undertaking. My goal with any party I organize, is to create an environment where people feel safe, comfortable to be themselves, and enjoy a special night with friends they won't soon forget. 

